img{
    object-fit: cover !important;
}

.post-1{
    background: #ccc;
    opacity: 0.7;
}
.on-status-1{
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    background: red;
    border-radius: 0 10px 10px 0;
    color: #fff;
}
